rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
      allow read, write: if userID == request.auth.uid
    }
    match /studies/{studyID} {
      allow update, delete: if resource.data.researcher.id == request.auth.uid
      allow read: if request.auth != null
    }
  }
}
